/* NAVBAR */
#bootstrap-overrides .custom-navbar {
  margin-top: 30px;
  background-color: #BEB997;
  border-radius: 5px;
  border: 1px solid rgb(36, 36, 35);
}

#bootstrap-overrides .active a{
  color: rgb(218, 86, 4) !important; 
}

#bootstrap-overrides .nav-item a{
  color: black;
}

#bootstrap-overrides .nav-item a:hover{
  color: rgb(218, 86, 4);
}

#bootstrap-overrides .custom-menu {
  border-left: 1px solid rgb(49, 49, 49);
  padding-left: 12px;
  margin-left: 3px;
}

.navbar .dropdown-menu { 
  background-color: #BEB997;
}

.navbar .dropdown.show a { 
  background-color: #BEB997;
}

.dropdown-divider {
  border-color: #50483A;
}

/* END OF NAVBAR */


/* BODY */

body { /* Entire website */
  background-color: rgb(155, 130, 115);
}

#bootstrap-overrides .custom-body {
  border-radius: 5px;
  border: 1px solid rgb(36, 36, 35);
}

/* END OF BODY */



/* FOOTER */
#bootstrap-overrides .custom-footer {
  border-radius: 5px 5px 0px 0px;
  border: 1px solid rgb(36, 36, 35);
  color: #BEB997;
}

#bootstrap-overrides .footer-menu {
  border-radius: 0px 5px 0px 0px;
  border-left: 1px dashed #BEB997;
  color: black;
  background-color: #BEB997;
}

#bootstrap-overrides .footer-contact {
  padding-left: -10px;;
}

#bootstrap-overrides .footer-logo {
  margin-left: 5px;
}
/* END OF FOOTER */