/* COMMON */
#bootstrap-overrides .custom-bool-icon-true {
  color: green;
}

#bootstrap-overrides .custom-bool-icon-false {
  color: #d10a0a;
}
/* END OF COMMON */

/* NAVBAR */
#bootstrap-overrides .custom-navbar {
  margin-top: 30px;
  background-color: #BEB997;
  border-radius: 5px;
  border: 1px solid rgb(36, 36, 35);
}

#bootstrap-overrides .nav-item > .nav-link.active{
  color: rgb(218, 86, 4);
}

#bootstrap-overrides .nav-item a{
  color: black;
}

#bootstrap-overrides .nav-item a:hover{
  color: rgb(218, 86, 4);
}

#bootstrap-overrides .custom-menu {
  border-left: 1px solid rgb(49, 49, 49);
  padding-left: 12px;
  margin-left: 3px;
}

.navbar .dropdown-menu { 
  background-color: #BEB997;
}

.navbar .dropdown.show a { 
  background-color: #BEB997;
}

.dropdown-divider {
  border-color: #50483A;
}
/* END OF NAVBAR */

/******************************************/

/* BODY */
body { /* Entire website */
  background-color: rgb(155, 130, 115);
  font-size-adjust:0.5;
}

#bootstrap-overrides .custom-body {
  border-radius: 5px;
  border: 1px solid rgb(36, 36, 35);
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
}
/* END OF BODY */

/******************************************/

/* FOOTER */
#bootstrap-overrides .custom-footer {
  border-radius: 5px 5px 0px 0px;
  border: 1px solid rgb(36, 36, 35);
  color: #BEB997;
}

#bootstrap-overrides .footer-menu {
  border-radius: 0px 5px 0px 0px;
  border-left: 1px dashed #BEB997;
  color: black;
  background-color: #BEB997;
}

#bootstrap-overrides .footer-contact {
  padding-left: -10px;;
}

#bootstrap-overrides .footer-logo {
  margin-left: 5px;
}
/* END OF FOOTER */

/******************************************/

/* PERSONNAGES DETAILS */
#bootstrap-overrides .custom-personnage-title {
  padding-top: 13px;
}

#bootstrap-overrides .custom-personnage-infos-content {
  margin-top: 10px;
}

#bootstrap-overrides .custom-personnage-infos-caracs {
  width: 20px; 
  display: inline-block;
}

#bootstrap-overrides .custom-title-container {
  position: relative;
}

#bootstrap-overrides .custom-title-content {
  position: absolute;
  bottom: 2px;
  left: 50px;
}

/* SORTS */
#bootstrap-overrides .custom-spell-item {
  border: none;
  padding: 3px;
  padding-right: 0;
  padding-left: 0;
  font-size: 0.9rem;
}

#bootstrap-overrides .custom-spells-list {
  margin-right: -5px;
  margin-left: -15px;
}

#bootstrap-overrides .custom-spells-list-container {
  margin-bottom: 20px;
}

#bootstrap-overrides .custom-card-header-spell-detail {
  padding: 0;
  border-bottom: none;
}

#bootstrap-overrides .custom-spell-lvl-nav {
  margin-right: 0;
  margin-bottom: 0;
  font-size: 0.9rem;
}

#bootstrap-overrides .custom-card-body {
  padding: 0.7rem;
  padding-bottom: 0.2rem;
}

#bootstrap-overrides .custom-spell-tab-img {
  float: left;
}

#bootstrap-overrides .custom-spell-lvl-tab {
  font-size: 0.9em;
}

#bootstrap-overrides .custom-spell-tab-title {
  margin-bottom: 0;
}

#bootstrap-overrides .custom-spell-tab-ap-range {
  padding-right: 0;
}

#bootstrap-overrides .custom-spell-tab-header {
  padding-left: 6px;
}

#bootstrap-overrides .custom-spell-tab-desc {
  padding-top: 5px;
}

#bootstrap-overrides .custom-effects-tab-title {
  margin-bottom: 0.5em;
}

#bootstrap-overrides .custom-tab-disabled {
  color: grey;
}

#bootstrap-overrides .custom-table-effects {
  width: 100%;
}

#bootstrap-overrides .custom-table-effect-element {
  width: 20px;
}

#bootstrap-overrides .custom-table-effect-element-img {
  display: table-cell;
}

#bootstrap-overrides .custom-autre-caracs-separator-md-down {
  margin-top: 4px;
  margin-bottom: 5px;
}

@media (max-width: 991px) { /* md and down */
  #bootstrap-overrides .custom-row-autres-caracs {
    margin-bottom: -10px;
  }
}

@media (min-width: 992px) { /* lg and up */
  #bootstrap-overrides .custom-row-autres-caracs {
    margin-bottom: -13px;
  }

  #bootstrap-overrides .custom-autre-caracs-right-panel {
    border-left: #E5E5E5;
    border-left-style: solid;
    border-left-width: 1px;
  }

  #bootstrap-overrides .custom-autre-caracs-separator-md-down {
    display: none;
  }
}

#bootstrap-overrides .custom-col-autres-caracs-label {
  padding-right: 0;
}
/* END OF SORTS */
/* END OF PERSONNAGES DETAILS */

/* FIREFOX SPECIFIC */
@-moz-document url-prefix() {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@supports (-moz-appearance:none) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* END OF FIREFOX SPECIFIC */