/***************************************/
/*               COULEURS              */
/***************************************/
/* Light        : #D9D6BB (ex #BEB997) */
/* Lighter      : #EAE3CC              */
/* Dark         : #51493C              */
/* Orange       : rgb(218, 86, 4)      */
/* Text on dark : rgb(250, 250, 250)   */
/***************************************/

/* COMMON */
#bootstrap-overrides .custom-bool-icon-true {
  color: green;
}

#bootstrap-overrides .custom-bool-icon-false {
  color: #d10a0a;
}

#bootstrap-overrides .dofus-bg-light {
  background-color: #D9D6BB;
}

#bootstrap-overrides .dofus-bg-dark {
  background-color: #51493C;
}

#bootstrap-overrides .dofus-bg-lighter {
  background-color: #EAE3CC;
}

#bootstrap-overrides .dofus-text-light {
  color: rgb(250, 250, 250);
}

#bootstrap-overrides .dofus-text-link {
  color: rgb(218, 86, 4);
}

#bootstrap-overrides .dofus-border-radius {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  -moz-border-top-left-radius: 25px; 
  -khtml-border-top-left-radius: 25px; 
  -webkit-border-top-left-radius: 25px;
  overflow: hidden;
}

/* TABLES */
#bootstrap-overrides .custom-table-cell-light {
  background-color: #D9D6BB;
  border: 1px solid #51493C;
}

#bootstrap-overrides .custom-table-cell-dark {
  background-color: #51493C;
  border: 1px solid black;
  color: rgb(250, 250, 250);
}
/* END OF TABLES */
/* END OF COMMON */

/******************************************/

/* NAVBAR */
#bootstrap-overrides .custom-navbar {
  margin-top: 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgb(36, 36, 35);
}

#bootstrap-overrides .nav-item > .nav-link.active{
  color: rgb(218, 86, 4);
}

#bootstrap-overrides .nav-item a{
  color: black;
}

#bootstrap-overrides .nav-item a:hover{
  color: rgb(218, 86, 4);
}

#bootstrap-overrides .custom-menu {
  border-left: 1px solid rgb(49, 49, 49);
  -moz-border-left: 1px solid rgb(49, 49, 49);
  -khtml-border-left: 1px solid rgb(49, 49, 49);
  -webkit-border-left: 1px solid rgb(49, 49, 49);
  padding-left: 12px;
  margin-left: 3px;
}

.navbar .dropdown-menu { 
  background-color: #BEB997;
}

.navbar .dropdown.show a { 
  background-color: #BEB997;
}

.dropdown-divider {
  border-color: #50483A;
  -mot-border-color: #50483A;
  -khtml-border-color: #50483A;
  -webkit-border-color: #50483A;
}
/* END OF NAVBAR */

/******************************************/

/* BODY */
body { /* Entire website */
  background-color: rgb(155, 130, 115);
  background-image: url('../images/general/dofus_background_blurred.jpg');
  background-attachment: fixed;
  font-size-adjust:0.5;
}

#bootstrap-overrides .custom-body {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgb(36, 36, 35);
  -moz-border: 1px solid rgb(36, 36, 35);
  -khtml-border: 1px solid rgb(36, 36, 35);
  -webkit-border: 1px solid rgb(36, 36, 35);
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
}
/* END OF BODY */

/******************************************/

/* FOOTER */
#bootstrap-overrides .custom-footer {
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -khtml-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border: 1px solid rgb(36, 36, 35);
  -moz-border: 1px solid rgb(36, 36, 35);
  -khtml-border: 1px solid rgb(36, 36, 35);
  -webkit-border: 1px solid rgb(36, 36, 35);
  color: #BEB997;
}

#bootstrap-overrides .footer-menu {
  border-radius: 0px 5px 0px 0px;
  -moz-border-radius: 0px 5px 0px 0px;
  -khtml-border-radius: 0px 5px 0px 0px;
  -webkit-border-radius: 0px 5px 0px 0px;
  border-left: 1px dashed #D9D6BB;
  -moz-border-left: 1px dashed #D9D6BB;
  -khtml-border-left: 1px dashed #D9D6BB;
  -webkit-border-left: 1px dashed #D9D6BB;
  color: black;
}

#bootstrap-overrides .footer-contact {
  padding-left: -10px;;
}

#bootstrap-overrides .footer-logo {
  margin-left: 5px;
}
/* END OF FOOTER */

/******************************************/
/* PERSONNAGES - INDEX */
#bootstrap-overrides .custom-img-banner {
  border-bottom-style: solid;
  -moz-border-bottom-style: solid;
  -khtml-border-bottom-style: solid;
  -webkit-border-bottom-style: solid;
  border-bottom-width: 1px;
  -moz-border-bottom-width: 1px;
  -khtml-border-bottom-width: 1px;
  -webkit-border-bottom-width: 1px;
  border-bottom-color: black;
  -moz-border-bottom-color: black;
  -khtml-border-bottom-color: black;
  -webkit-border-bottom-color: black;
}

#bootstrap-overrides .custom-card-class-index {
  width: 17rem;
  display: inline-block;
  margin: 15px;
}

#bootstrap-overrides .custom-class-index-cards-list a{
  color: black;
}

#bootstrap-overrides .custom-class-index-cards-list a:hover {
  color: rgb(218, 86, 4);
  text-decoration: none;
}

#bootstrap-overrides .custom-card-class-index:hover {
  background-color: #D9D6BB;
  border-color: #51493C;
  -moz-border-color: #51493C;
  -khtml-border-color: #51493C;
  -webkit-border-color: #51493C;
}

#bootstrap-overrides .custom-card-class-index-body {
  padding: 5px;
}

#bootstrap-overrides .custom-card-class-index-title {
  margin-bottom: 0px;
}

#bootstrap-overrides .custom-class-index-img-container {
  max-width: 398px;
  max-height: 250px;
  overflow: hidden;
}

#bootstrap-overrides .custom-class-index-img {
  width: 100%;
  height: auto;
  /* margin-top : -10px;  */
}
/* END OF PERSONNAGES - INDEX */

/* PERSONNAGES DETAILS */
#bootstrap-overrides .custom-personnage-title {
  padding-top: 13px;
}

#bootstrap-overrides .custom-personnage-infos-content {
  margin-top: 10px;
}

#bootstrap-overrides .custom-personnage-infos-caracs {
  width: 20px; 
  display: inline-block;
}

#bootstrap-overrides .custom-title-container {
  position: relative;
}

#bootstrap-overrides .custom-title-content {
  position: absolute;
  bottom: 1px;
  left: 50px;
}

/* SORTS */
#bootstrap-overrides .custom-spell-item {
  border: none;
  -moz-border: none;
  -khtml-border: none;
  -webkit-border: none;
  padding: 3px;
  padding-right: 0;
  padding-left: 0;
  font-size: 0.9rem;
}

#bootstrap-overrides .custom-spell-item.active {
  background-color: #51493C;
}

#bootstrap-overrides .custom-spells-list {
  margin-right: -5px;
  margin-left: -15px;
}

#bootstrap-overrides .custom-spells-list-container {
  margin-bottom: 20px;
}

#bootstrap-overrides .custom-card-header-spell-detail {
  padding: 0;
  border-bottom: none;
  -moz-border-bottom: none;
  -khtml-border-bottom: none;
  -webkit-border-bottom: none;
}

#bootstrap-overrides .custom-spell-lvl-nav {
  margin-right: 0;
  margin-bottom: 0;
  font-size: 0.9rem;
}

#bootstrap-overrides .custom-card-body {
  padding: 0.7rem;
  padding-bottom: 0.2rem;
}

#bootstrap-overrides .custom-spell-tab-img {
  float: left;
}

#bootstrap-overrides .custom-spell-lvl-tab {
  font-size: 0.9em;
}

#bootstrap-overrides .custom-spell-tab-title {
  margin-bottom: 0;
}

#bootstrap-overrides .custom-spell-tab-ap-range {
  padding-right: 0;
}

#bootstrap-overrides .custom-spell-tab-header {
  padding-left: 6px;
}

#bootstrap-overrides .custom-spell-tab-desc {
  padding-top: 5px;
}

#bootstrap-overrides .custom-effects-tab-title {
  margin-bottom: 0.5em;
}

#bootstrap-overrides .custom-tab-disabled {
  color: grey;
}

#bootstrap-overrides .custom-table-effects {
  width: 100%;
}

#bootstrap-overrides .custom-table-effect-element {
  width: 20px;
}

#bootstrap-overrides .custom-table-effect-element-img {
  display: table-cell;
}

#bootstrap-overrides .custom-autre-caracs-separator-md-down {
  margin-top: 4px;
  margin-bottom: 5px;
}

@media (max-width: 991px) { /* md and down */
  #bootstrap-overrides .custom-row-autres-caracs {
    margin-bottom: -10px;
  }
}

@media (min-width: 992px) { /* lg and up */
  #bootstrap-overrides .custom-row-autres-caracs {
    margin-bottom: -13px;
  }

  #bootstrap-overrides .custom-autre-caracs-right-panel {
    border-left: #E5E5E5;
    -moz-border-left: #E5E5E5;
    -khtml-border-left: #E5E5E5;
    -webkit-border-left: #E5E5E5;
    border-left-style: solid;
    -moz-border-left-style: solid;
    -khtml-border-left-style: solid;
    -webkit-border-left-style: solid;
    border-left-width: 1px;
    -moz-border-left-width: 1px;
    -khtml-border-left-width: 1px;
    -webkit-border-left-width: 1px;
  }

  #bootstrap-overrides .custom-autre-caracs-separator-md-down {
    display: none;
  }
}

#bootstrap-overrides .custom-col-autres-caracs-label {
  padding-right: 0;
}
/* END OF SORTS */

/* BUILD FOOTER IMG */

/* END OF BUILD FOOTER IMG */

/* END OF PERSONNAGES DETAILS */

/******************************************/



/******************************************/

/* FIREFOX SPECIFIC */
@supports (-moz-appearance:none) {
  .container {
    /* container is smaller in Firefox -> make it bigger */
    padding-left: 10px;
    padding-right: 10px;
  }
}
@-moz-document url-prefix() {
  .container {
    /* container is smaller in Firefox -> make it bigger */
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* END OF FIREFOX SPECIFIC */